

@import url("reset.css"); 
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic); 
body {
	background: #e8f0f4;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, #header, #larere > ul li, .overlay ul li a, ul#workshop, #categories{
	font-family: 'PT Sans', sans-serif;
}
h1 {
	display:block;
	font-size: 36px;
	color: #333;
	border-bottom: 3px solid #61808c;
	margin: 40px 0 20px 0;
}
h2 {
	font-weight: 400;
	font-style: italic;
	font-size:24px;
}
p {
	font-size: 14px;
	font-weight:200;
	line-height: 1.4;
	margin-bottom: 10px;
}

a {
	color: #62808c;
}
b {
	font-weight: 00;
}

/* Banner */

#header {
	font-family: 'PT Sans', sans-serif;
	position:fixed;
	width:100%;
	z-index:50;
}
.top {
	height: 100px;
	background: rgba(99, 128, 140, 0.95);
	/*opacity:0.95;*/
}
.top .placeholder {
	width:940px;
	margin: 0 auto;
	padding: 0 10px;
}
.top #logo {
	float:left;
	padding-top: 27px;
}
#meny {
	float:right;
	height:100%;
}
#meny ul li {
	display:inline;

}
#meny ul li a{
	height:58px;
	color:#d3e1e8;
	font-size:14px;
	text-decoration:none;
	display:block;
	float:right;
	padding: 42px 30px 0 30px;
}
#meny ul li a:hover {
	background: rgba(214, 227, 234, 0.95);;
	color:#000;
}

.submeny {
	/*display:none;*/
	background: rgba(214, 227, 234, 0.95);;
}
.submeny > div {
	height:180px;
	width: 960px;
	margin: 0 auto;
	display:none;
}
.submeny > div > div {
	width: 187px;
	float: left;
	padding: 30px 0 0 53px;
	background: url("../gfx/dots.png") no-repeat right top;
}
.submeny > div > div > a {
	color: #1e2c32;
	text-decoration:none;
	font-style:italic;
	font-weight:700;
}
.submeny > div > div > ul li {
	padding: 15px 0 0 20px;
}
.submeny > div > div > ul li a {
	font-size: 14px;
	color: #434343;
	text-decoration:none;
	font-style:italic;
}
.submeny a:hover {
	text-decoration:underline;
}
.submeny > div .cat_hide {background:none;}

/* /Banner */

#wrapper {
	width: 940px;
	padding: 0px 10px 200px 10px;
	margin: 100px auto;
	overflow: auto;
}

#larere {
	overflow: auto;
}
#larere > ul li {
	font-family: 'PT Sans', sans-serif;
	color: #1e2c32;
	width: 450px;
	height: 185px;
	display:block;
	float: left;
}

#larere > ul li img {
	border: 6px solid #FFF;
	float: left;
	width: 138px;
}
#larere > ul li {
	font-size: 14px;
	font-style:italic;
}
#larere > ul li span {
	display:block;
}
#larere > ul li > div {
	padding-top:15px;
	line-height: 1.4;
	float: left;
	margin:0 0 0 22px;
}
#larere > ul li div > div {
	margin: 7px 0;
	height:0px;
	width: 190px;
	border-top: solid 1px #bcd0df;
	border-bottom: solid 1px #fafafa;
}
#larere , #lokaler {
	position: relative;
}
#lokaler .overlay{ margin: -40px 0 0 -55px;}
.overlay {
	position: absolute;
	height: 35px;
	width: 600px;
	top: 54px;
	left: 193px;
}
.overlay ul li {
	display: inline	;
	margin-right: 10px;
}
.overlay ul li a {
	text-decoration: none;
	color: #333;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
}
.overlay ul li a:hover {
	text-decoration:underline;
}

/* Colums */

.leftCol {
	width: 620px;
	float:left;
}
.rightCol {
	width: 300px;
	float:right;
}
.rightCol img {
	margin: 0 0 10px 0;
}
.rightCol .knapp {
	text-decoration: none;
	color: white;
	background: #61808c;
	width: 280px;
	display: block;
	height: 26px;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
	font-style: italic;
}
.singleCol  {
	padding: 0 140px;
}

/* SLIDER */

#slider div.scrollWrapper{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
		
#slider div.scrollableArea{
	position: relative;
	width: auto;
	height: 100%;
}
#slider{
	width:100%;
	height: 400px;
	position: relative;
	top: 100px;
}
		
#slider div.scrollableArea img{
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}


/* Workshop */

ul#workshop{
	padding-top: 60px;
	float: right;
}

ul#workshop a{
	text-decoration: none;
	color: #333;
	width: 100%;
	height: 100%;
}

ul#workshop li{

	list-style: none;
	height: 70px;
	width: 300px;
	overflow: hidden;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	
}

ul#workshop span.left p{

	padding: 1px 20px 0 20px;
	
}

ul#workshop a p {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul#workshop span.left{

	float: left;
	width: 230px;
	height: 100%;
	
}

ul#workshop span.right{

	float: right;
	width: 70px;
	height: 100%;
	background: url("../gfx/bg.png");
	color: #c2e5f2;
	
}

#workshop p.number{

	font-size: 48px;
	font-weight: bold;
	text-align: center;	
	height: 40px;
	
}

#workshop p.month{

	font-size: 11px;
	text-align: center;
	
}

ul#workshop li.mork { 

	background: #b6ccd7; 
	color: #c2e5f2;
	
}
ul#workshop li.lys { 

	background: #d6e4eb;
	color: #405f73;
	
}

ul#workshop li:hover{

	height: 140px;
	
}

ul#workshop li:hover span.left h2{
	text-decoration: underline;
}

span.left h2{

	font-size: 20px;
	text-transform: uppercase;
	font-style: normal;
	padding: 10px 0 0 10px;
	
}

/* /Workshop */

/* Categories */

#categories a {
	text-decoration: none;
	font-style: italic;
	color: #333;
	width: 100%;
	height: 100%;
}


#categories h1 {
	font-size: 24px;
	border: 0;
	margin: 0;
	padding: 15px 0 0 15px;
	
}

#categories p {
	padding: 10px 30px 0 30px;
	font-size: 14px;
	width: 150px;
}

ul#categories{
	padding-top: 60px;
	width: 640px;
	float: left;
}

ul#categories li {
	width: 300px;
	height: 125px;
	float: left;
	margin:0 20px 20px 0;
	background-repeat: no-repeat;
}

ul#categories li:hover, #categories h1 #categories p{
	text-decoration: underline;
}

ul#categories li.hva{
	background: url("../gfx/categories/1.jpg");
}

ul#categories li.hvorfor{
	background: url("../gfx/categories/2.jpg");
}

ul#categories li.historie{
	background: url("../gfx/categories/3.jpg");
}

ul#categories li.galleri{
	background: url("../gfx/categories/4.jpg");
}

ul#categories li.litteratur{
	background: url("../gfx/categories/5.jpg");
}

ul#categories li.sporsmal{
	background: url("../gfx/categories/6.jpg");
}

/* /Categories */

/* Newsletter */

form{
	margin-top: 20px;
	width: 300px;
	height: 43px;
	float: right;
}

input.newsletter{
	width: 210px;
	border: 0;
	height: 100%;
	background: #d6e4eb;
	float: left;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	color: #333;
}

input.submit{
	width: 70px;
	border: 0;
	height: 45px;
	background: #b6ccd7 url("../gfx/bg.png"); 
	float: right;
	font-size: 16px;
	color: #d6e4eb;
}

/* /Newsletter */

/* Galleri */ 

ul.galleri li{
	width: 235px;
	height: 235px;
	float: left;
	margin-bottom: 40px;
	
}

ul.galleri li.tekst{
	background: #d6e4eb;
	width: 195px;
	height: 195px;
	padding: 20px;
}

li.tekst p{
	margin-top: 10px;
}

ul.galleri li img{
	height: 235px;
	width: 235px;
}

/* /Galleri */

/* FAQ */

#faq h2 {
	margin-top: 50px;

}

#faq p {
	width: 780px;
	margin-left: 20px;
	margin-top: 20px;
}


/* /FAQ */

.chosenOne {
	background: #61808c;
	padding: 3px;
	color: white;
}