.login.one_column
	%h1 Login
	.notice 
		= notice
	%form{action: "login", method: :post}
		%label Username
		%input{name: "username", type: "text"}

		%label Password
		%input{name: "password", type: "password"}
		%input{type: :submit, value: "Login"}
