<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="css/normalize.css" media="screen">
  <link rel="stylesheet" href="css/menu.css" media="screen">
  <link rel="stylesheet" href="css/macintosh.css">
  <title>Macintosh — Softface magazine</title>
</head>



<article id="mac">
	<header>
		<img src="images/macintosh/apple-logo.png" alt="Vintage Apple Logo">
		<hgroup>
			<h1>Macintosh</h1>
			<h2>More like a Porsche</h2>
		</hgroup>
		<img src="images/macintosh/porsche-logo.png" alt="Porsche Logo">
	</header>
  
  
	<div class="body">
	
		<p>In March 1981, I had been working on the Mac team for only a month. I was used to coming back to the office after dinner and working for a few hours in the evening. Even though many of the early Mac team members usually worked late, and we often went out to dinner together, I was by myself one evening when I returned to Texaco Towers after dinner around 8pm. As soon as I entered the building, I heard loud voices emanating from Bud's office, which was adjacent to mine, apparently engaged in a spirited discussion. </p>
		
		<p>“It's got to be different, different from everything else.” I recognized Steve Jobs’ voice before I saw him as I passed by the door of Bud's office. He was standing near the doorway, near our only working prototype, conversing with someone who I didn't recognize, that Steve introduced to me as James Ferris, Apple's director of Creative Services. “James is helping me figure out what the Mac should look like,” he told me. </p>
		
		<p>The plan of record for the Macintosh industrial design was still the one conceived by Jef Raskin, which chose a horizontally oriented, lunch-box type shape, with the keyboard folding up into the lid of the computer for easy transportability, kind of like the Osborne I, which we weren't aware of at the time. But Steve had a real passion for industrial design, and he never seriously considered following Jef's recommendations. </p>
		
		<p>I went into my office and started to program, working on improving the code that drove the serial link between the Mac and Lisa, at Bud's request. But I couldn't help but overhear the passionate discussion taking place next door between Steve and James Ferris. For some reason, they were talking about cars.</p> 
		
		<img src="images/macintosh/macproto-beetle.jpg" alt="Macintosh Prototype and Volkswagen Beetle">
		
		<p>“We need it to have a classic look, that won't go out of style, like the Volkswagen Beetle”, I heard Steve tell James.</p> 
		
		<p>“No, that's not right.”, James replied. "The lines should be voluptuous, like a Ferrari."</p> 
		
		<p>“Not a Ferrari, that's not right either”, Steve responded, apparently excited by the car comparison. “It should be more like a Porsche!” Not so coincidentally, in those days Steve was driving a Porsche 928.</p> 
		
		<p>I thought it was kind of pompous to compare computers with sports cars, even metaphorically. But I was impressed with Steve's passion for elegance in the industrial design and his powers of discrimination continually amazed me as the design took shape.</p> 
		
		
		<img src="images/macintosh/macintosh-porsche.jpg" alt="Macintosh and Porsche 928">
		
		<p>Steve recruited Jerry Manock to lead the industrial design effort. Jerry was the early Apple employee who had designed the breakthrough plastic case for the Apple II, initially as a contractor before signing up as an employee. For the Macintosh, Jerry recruited a talented designer named Terry Oyama, to do most of the detailed drafting of the actual design. The hard tooling for the plastic case was the component with the longest lead time, so we had to get started right away.</p> 
		
		<p>A week or so after the car conversation, Steve and Jerry decided that the Macintosh should defy convention and have a vertical orientation, with the display above the disk drive instead of next to it, in order to minimize desktop footprint, which also dictated a detachable keyboard. That was enough of a direction for Terry to draft a preliminary design and fabricate a painted, plaster model.</p> 
		
		<p>We all gathered around for the unveiling of the first model. Steve asked each one of us, in turn, to say what we thought about it. I though it was cute and attractive, looking a lot like an Apple II, but with a distinctive personality all its own. But, after everyone else had their say, Steve cut loose with a torrent of merciless criticism.</p> 
		
		<p>“It's way too boxy, it's got to be more curvaceous. The radius of the first chamfer needs to be bigger, and I don't like the size of the bezel. But it's a start.”</p> 
		
		<p>I didn't even know what a chamfer was, but Steve was evidently fluent in the language of industrial design, and extremely demanding about it. Over the next few months, Jerry and Terry iterated on the design. Every month or so, there was a new plaster model. Before a new one was unveiled to the team, Jerry lined up all of the previous ones, so we could compare the new one with past efforts. One notable improvement was the addition of a handle at the top of the case, to make it easier to carry. By the fourth model, I could barely distinguish it from the third one, but Steve was always critical and decisive, saying he loved or hated a detail that I could barely perceive.</p> 
		
		<p>At one point, when we were almost finished, Steve called up Jerry over the weekend and told him that we had to change everything. He had seen an elegant new Cuisinart at Macys' on Saturday, and he decided that the Mac should look more like that. So Terry did a whole new design, based around the Cuisinart concept, but it didn't pan out, and soon we were back on the old track, after a one-week diversion.</p> 
		
		<p>After five or six models, Steve signed off on the design, and the industrial design team shifted gears to do the laborious engineering work necessary to convert the conceptual model into a real, manufacturable plastic case. In February 1982, it was finally time to release the design for tooling. We held a little party, complete with champagne (see Signing Party)  to celebrate sending off the design into the world, the first major component of the Macintosh to be completed.</p>
	
	</div>
</article>



<div id="sf-menu-wrapper">

  <header class="sf-global-header">
    <label for="sf-menu-check-open">
      <img alt="Softface m" title="Softface Magazine" src="images/softface_m.svg"></img>
    </label>
  </header>

  <input type="radio" class="sf-menu-check" name="sf-menu-check" id="sf-menu-check-closed" checked>
  <input type="radio" class="sf-menu-check" name="sf-menu-check" id="sf-menu-check-closed2">
  <input type="radio" class="sf-menu-check" name="sf-menu-check" id="sf-menu-check-closed3">
  <input type="radio" class="sf-menu-check" name="sf-menu-check" id="sf-menu-check-open">
  
  <label class="sf-menu-overlay" for="sf-menu-check-closed2"></label>
  
  <div class="sf-menu">
    
    <div class="wrap">
      
      <header>
        <a href="index.html">
          <img alt="Softface m" title="Softface Magazine" src="images/softface_m.svg"></img>
        </a>
        
        <nav>
          <a href="/about">about</a>
          <a href="/search">search</a>
          <label for="sf-menu-check-closed">close ▴</label>
        </nav>
      </header>
      
      <aside class="column">
        <h1>Macintosh<br> More like a Porsche</h1>
        
        <h2>Meta</h2>
        <p>Published <time>October the 23th</time></p>
        <p>Written by Torbjørn Vik Lunde</p>
        
        <h2>About the author</h2>
        <p>Torbjørn Vik Lunde is an aspiring interaction designer studying at Norwegian School or Creative Studies in Oslo, Norway. He does not works at Omega AS.</p>
        
        <h2>References</h2>
        <ul>
          <li>
            <a href="http://folklore.org">Steve Jobs and Industrial Design – <span>Folklore</span></a>
          </li>
          
          <li>
            Insanely Great – <span>Andy Hertzfeld</span>
          </li>
        </ul>
      </aside>
      
      <nav class="column">
        <h1>Related articles</h1>
        
        <a href="dieter.html" class="article">
          <h2>Dieter Rams: Father of industrial design</h2>
          <p>Meet Dieter Rams: the prophet behind the 10 design commandments.</p>
        </a>
        
        <a href="#" class="article">
          <h2>HTML: The beginning of hypertext</h2>
          <p>The road from an ox pictogram trhough carollingian script to todays latin type.</p>
        </a>
        
        <a href="#" class="article">
          <h2>Steve Jobs: Founder and legend</h2>
          <p>How the Lisa laid the foundation for the Mac, and NeXT for Apple’s return.</p>
        </a>
        
        <a href="index.html" class="show-all">View all articles »</a>
      </nav>
      
      <label for="sf-menu-check-closed" class="mobile-closs-button">close ▴</label>
    
    </div>
  </div>
</div>
