= form_for "@message", url: "/contact" do |form|
	%label{for: "name"} Name
	= form.text_field :name
	%label{for: "email"} Email
	= form.text_field :email
	%label{for: "message"} Message
	%textarea
	.pardon
		Contact form is not functional at this moment. Contact me at
		%a{href:"mailto:einar.love@gmail.com?subject=message from einarlove.com"} einar.love@gmail.com
	= form.text_area :message
	%input{type: "submit", value: "Send message"}
