%form
	%label{for: "name"} Name
	%input{type: "text"}
	%label{for: "email"} Email
	%input{type: "text"}
	%label{for: "message"} Message
	%textarea
	%input{type: "submit", value: "Send message"}
	.pardon
		Contact form is not functional at this moment. Contact me at
		%a{href:"mailto:einar.love@gmail.com?subject=message from einarlove.com"} einar.love@gmail.com