%ul.portfolio_items
	- PortfolioItem.all.each do |item|
		- if current_page?("/portfolio/"+item.slug)
			- current_item = "current_item"
		%li
			%a{ href: (portfolio_path item), class: current_item}
				%img{src: image_path(item.slug+"_thumb.jpg")}