%ul.portfolio_items
	- PortfolioItem.order("created_at DESC").where(visible: true).each do |item|
		- if current_page?("/portfolio/"+item.slug)
			- current_item = "current_item"
		%li
			%a{ href: "/portfolio/#{item.slug}", class: current_item}
				%img{src: "/portfolio/images/"+item.slug+"_thumb.jpg"}