	<article class="one_column">
		<h1>A short introduction</h1>
		<p>
			My name is Einar Ágúst Löve, born in Iceland, raised in Norway but lived on the internet once it got its grip on me.</p>
		<p>
			Studied media and communication in gymnas where I experienced film production, animation, graphic design, web design and illustration.</p>
		<p>
			The power to create your own custom worlds on the internet which benefited from imagination and empathy really attracted me. So after gymnas I attended Interaction design at the Norwegian school of creativity in Oslo where I reside and study at this date.</p>
	</article>
	<img class="two_columns" src="/assets/me.jpg" alt="That's me!">
