<p style="display:inline-block;padding-bottom: 10px;border-bottom:solid 1px #aaa;">
	<b>Name:</b><%= @message.name %><br />
	<b>Email:</b><%= @message.email %><br />
</p>
<div>
	<%= @message.body %>
</div>