.admin_area{
	margin-bottom: 80px;
}
.admin_area hgroup{
	height: 35px;
	padding-top:5px;
	border-bottom: solid 1px #e0e0e0;
}
.admin_area h1 {
	text-transform: none;
	font-size: 30px;
	display:inline;
	padding-right: 6px;
}
.admin_area hgroup > a, input[type="submit"]{
	font-family: "Pill Gothic 300mg", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #585858;
	letter-spacing: 0.01em;
}
.admin_area h1 + a:after,.admin_area h2 + a:after{
	content: '-';
	margin: 0 2px 0 7px;
}
.admin_area li h2{
	font-size: 18px;
	text-transform: capitalize;
}
.admin_area li > a{
	font-style: italic;
	color: #585858;
}
.admin_area li p{
	color: #585858;
}
.admin_area li{
	border-bottom: solid 1px #e0e0e0;
	padding: 20px 0;
	min-height: 63px;
}

/* ---------- */
/*   Login    */
/* ---------- */

.login{
	margin-left: 305px;
	margin-top: 150px;
}
.login h1{
	display:block;
	padding:0 0 13px;
	border-bottom: solid 1px #e0e0e0;
	margin-bottom: 13px;
}
label {
	font-style: italic;
	color: #6c6c6c;
	margin:10px 0 3px 0
}
label:after{
	content: ':';
}
input[type="text"], input[type="password"]{
	width:100%;
	border: solid 1px #e0e0e0;
	padding: 6px;
	font-weight: bold;
}
input[type="submit"]{
	margin-top:20px;
	border:0;
	background: #e0e0e0;
	font-size:14px;
	padding: 10px 10px 8px;
	letter-spacing: 0.08em;
}
input[type="submit"]:hover{
	background:#585858;
	color: #e0e0e0;
	cursor: pointer;
}
.notice{
	margin-top:15px;
	text-align:center;
	color: brown;
}
/*label[for="page_visible"], label[for="page_layout"]{
	clear:left;
	float:left;
}
input[type="checkbox"]{
	float:left;
	clear:right;
}
input[type="checkbox"]:after{
	co*/ntent:'\A';
}
/* ---------- */
/*   Edit     */
/* ---------- */

.dimmed{
	opacity: 0.2;
	-webkit-transition: opacity .1s;
}
.dimmed:hover{

	opacity:1;
}
textarea{
		border: solid 1px #e0e0e0;
		font-size: 14px;
		width: 290px;
		padding: 15px;
}
