.admin_area{
	margin-bottom: 80px;
}
.admin_area hgroup{
	height: 35px;
	padding-top:5px;
	border-bottom: solid 1px #e0e0e0;
}
.admin_area h1 {
	text-transform: none;
	font-size: 30px;
	display:inline;
	padding-right: 6px;
}
.admin_area hgroup > a, input[type="submit"]{
	font-family: "Pill Gothic 300mg", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #585858;
	letter-spacing: 0.01em;
}
.admin_area h1 + a:after,.admin_area h2 + a:after{
	content: '-';
	margin: 0 2px 0 7px;
}
.admin_area li h2{
	font-size: 18px;
	text-transform: capitalize;
}
.admin_area li > a{
	font-style: italic;
	color: #585858;
}
.admin_area li p{
	color: #585858;
}
.admin_area li{
	border-bottom: solid 1px #e0e0e0;
	padding: 20px 0;
	min-height: 63px;
}
