%ul
	-if admin?
		%li
			%a{href:"/admin", title:"Admin area"} Admin	
	- Page.where("visible = ?", true).order("created_at DESC").each do |page|
		- if current_page?("/"+page.name)
			- current_page = "current_page"
		%li
			%a{href:"/"+page.name, title:page.description, class: current_page}= page.name
	/ %li
	/ 	%a{href:"/portfolio", title:"Einar's portfolio"} Portfolio
	/ %li
	/ 	%a{href:"/projects",  title:"Einar's projects"} Projects
	/ %li
	/ 	%a{href:"/about",     title:"About Einar", class: "current_page"} About
	/ %li
	/ 	%a{href:"/contact",   title:"Contact Einar"} Contact
	/ %li
	/ 	%a{href:"/blog",      title:"Einar's blog"} Blog