	<title><%= @description %></title>
	<meta charset="utf-8">
	<%= stylesheet_link_tag "main", :media => "all" %>
	<%= csrf_meta_tags %>
<header>
	<hgroup>
		<a href="/" title="Back to frontpage">
			<h1>Einar Löve</h1>
			<h2>Interactiondesigner</h2>
		</a>
	</hgroup>
	<nav>
		<ul>
			<li><a href="/portfolio" title="Einar's portfolio">Portfolio</a></li>
			<li><a href="/projects"  title="Einar's projects">Projects</a></li>
			<li><a href="/about"     title="About Einar" class="current_page">About</a></li>
			<li><a href="/contact"   title="Contact Einar">Contact</a></li>
			<li><a href="/blog"      title="Einar's blog">Blog</a></li>
		</ul>
	</nav>
</header>
<section>

	<%= yield %>

</section>

<footer>
	<div>
		<span>Copyright 2012</span>
		<a href="http://einarlove.com" title="Einar Löve">Einar Löve</a>
	</div>
	<div>
		<span>Contact me on twitter</span>
		<a href="http://twitter.com/einarlove" title="Einar Löve" target="_blank">@einarlove</a>
	</div>
</footer>